
body {
  background-color: #4c6b64;
  font-family: "bookman old style";
  color: white;
}
:target {
    color: lightyellow;
    background: indianred;
    border-style: dotted;
}
h3,
h1 {
  text-align: center;
  color: lightyellow;
  background: indianred;
  border-style: dotted;
  margin-left: 300px;
  margin-right: 300px;

}
img {
    border: 3px dashed indianred 100;
  }
#press {
  display: none; 
}
